<div style="height: 100vh;">
  <section class="pricing py-4 h-100">
    <div class="container h-100">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-5">
          <div class="card mb-5 mb-lg-0 h-lg-75">
            <div class="card-body mt-4">
              <h5 class="card-title text-center">Regístrate</h5>
              <hr />
              <form class="form-signin">
                <div class="form-group">
                  <input
                    type="text"
                    id="inputUserame"
                    class="form-control"
                    placeholder="Usuario"
                    required
                    autofocus
                    autocomplete="off"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Correo Electrónico"
                    required
                    autocomplete="off"
                  />
                </div>

                <hr />

                <div class="form-group">
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Contraseña"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    id="inputConfirmPassword"
                    class="form-control"
                    required
                  />
                  <small id="emailHelp" class="form-text text-muted ml-2"
                    >Confirma tu contraseña</small
                  >
                </div>

                <button
                  class="btn btn-lg btn-success btn-block text-uppercase"
                  type="submit"
                >
                  Registrate
                </button>
                <hr class="my-4" />
                <button
                  class="btn btn-lg btn-google btn-block text-uppercase"
                  type="submit"
                >
                  <i class="fab fa-google mr-2"></i> Sign up with Google
                </button>
                <button
                  class="btn btn-lg btn-facebook btn-block text-uppercase"
                  type="submit"
                >
                  <i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-offset-2 col-lg-2"></div>
        <!-- Plus Tier -->
        <div class="col-lg-5">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body mt-4">
              <h5 class="card-title text-center">Iniciar Sesión</h5>
              <hr />
              <form class="form-signin">
                <div class="form-group">
                  <input
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Correo Electrónico"
                    required
                    autofocus
                    autocomplete="off"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Contraseña"
                    required
                    autocomplete="off"
                  />
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck1"
                  />
                  <label class="custom-control-label" for="customCheck1"
                    >Recordar Contraseña</label
                  >
                </div>
                <a
                  class="btn btn-lg btn-success btn-block text-uppercase"
                  type="submit"
                  routerLink="/clientes"
                >
                  Iniciar Sesión
                </a>
                <hr class="my-4" />
                <button
                  class="btn btn-lg btn-google btn-block text-uppercase"
                  type="submit"
                >
                  <i class="fab fa-google mr-2"></i> Sign in with Google
                </button>
                <button
                  class="btn btn-lg btn-facebook btn-block text-uppercase"
                  type="submit"
                >
                  <i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
