<body>
  <header>
    <!-- Header Start -->
    <div class="header-area">
      <div class="main-header header-sticky">
        <div class="container-fluid">
          <div class="menu-wrapper">
            <!-- Logo -->
            <div class="logo">
              <a href="index.html"
                ><img src="assets/img/logo/logo.png" alt=""
              /></a>
            </div>
            <!-- Main-menu -->
            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation" *ngIf="show; else elseBlock">
                  <li class="hot">
                    <a
                      class="nav-link"
                      routerLink="/register"
                      routerLinkActive="active"
                      ><i class="fas fa-user-circle mr-1"></i
                      ><label>Iniciar Sesión</label></a
                    >
                  </li>
                </ul>
                <ng-template #elseBlock
                  ><ul id="navigation">
                    <li>
                      <a
                        ><i class="fas fa-user-circle mr-1"></i
                        >{{ loggedUsuario.usuario
                        }}<i class="fas fa-ellipsis-v ml-3"></i
                      ></a>
                      <ul class="submenu">
                        <li>
                          <a
                            class="nav-link"
                            routerLink="/profile"
                            routerLinkActive="active"
                            ><i class="far fa-user-circle mr-2"></i
                            ><label>Mi perfil</label></a
                          >
                        </li>
                        <li>
                          <a href="index.html" (click)="logOut()"
                            ><i class="fas fa-door-open mr-1"></i
                            ><label>Cerrar Sesión</label></a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul></ng-template
                >
              </nav>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>

  <main>
    <!-- Hero Area End-->
    <!--================login_part Area =================-->
    <section *ngIf="login" class="login_part p-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="login_part_text text-center">
              <div class="login_part_text_iner">
                <h2>¿No tienes una cuenta?</h2>
                <p>
                  Se parte de nuestra comunidad y aprovecha de todos nuestros
                  servicios
                </p>
                <a (click)="Toggle()" class="btn_3">Crear una cuenta</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="login_part_form">
              <div class="login_part_form_iner">
                <h3>
                  Bienvenido! <br />
                  Iniciar Sesión
                </h3>
                <form
                  class="row contact_form"
                  action="#"
                  method="post"
                  novalidate="novalidate"
                >
                  <div class="col-md-12 form-group p_star">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="logInUser.usuario"
                      name="usuario"
                      placeholder="Usuario"
                    />
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      [(ngModel)]="logInUser.contrasena"
                      name="constrasena"
                      placeholder="Contraseña"
                    />
                  </div>
                  <div class="col-md-12 form-group">
                    <button (click)="logIn()" class="btn_3">
                      Iniciar Sesión
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="!login" class="login_part p-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="login_part_text text-center">
              <div class="login_part_text_iner">
                <h2>¿Ya tienes una cuenta?</h2>
                <p>
                  Una vez que hayas creado tu cuenta, puedes iniciar sesión con
                  tus datos ya registrados.
                </p>
                <a (click)="Toggle()" class="btn_3">Iniciar Sesión</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="login_part_form">
              <div class="login_part_form_iner">
                <h3>
                  Crear una Cuenta <br />
                  Completa todos los campos
                </h3>
                <form
                  class="row contact_form"
                  action="#"
                  method="post"
                  novalidate="novalidate"
                >
                  <div class="col-md-12 form-group p_star">
                    <input
                      [(ngModel)]="usuario.usuario"
                      type="text"
                      class="form-control"
                      name="usuario"
                      placeholder="Usuario"
                    />
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input
                      [(ngModel)]="usuario.email"
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Correo Electrónico"
                      autocomplete="off"
                    />
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input
                      [(ngModel)]="usuario.contrasena"
                      type="password"
                      class="form-control"
                      name="contrasena"
                      placeholder="Contraseña"
                    />
                  </div>
                  <div class="col-md-12 form-group">
                    <button (click)="saveNewUsuario()" class="btn_3">
                      Regístrate
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================login_part end =================-->
  </main>
  <app-footer></app-footer>
</body>
