<div class="row">
  <div class="col-md-4" *ngFor="let cliente of clientes">
    <div class="card text-center mb-4">
      <div
        class="card-header d-flex bg-dark text-white justify-content-between align-items-center"
      >
        {{ cliente.nombre }}
        {{ cliente.apellido }}

        <i
          class="fas fa-trash fa-2x text-danger"
          (click)="deleteCliente(cliente.idcliente)"
        ></i>
      </div>
      <div class="card-body">
        <p>
          <strong class="font-weight-bold">Cédula: </strong>
          {{ cliente.cedula }}
        </p>
        <p>
          <strong class="font-weight-bold">Teléfono: </strong
          >{{ cliente.telefono }}
        </p>
        <p>
          <strong class="font-weight-bold">Ciudad: </strong>{{ cliente.ciudad }}
        </p>
        <p>
          <strong class="font-weight-bold">Dirección: </strong
          >{{ cliente.direccion }}
        </p>
        <a
          class="btn btn-info btn-block"
          [routerLink]="['/clientes/edit', cliente.idcliente]"
          ><i class="fas fa-user-edit fa-2x mr-1"></i> Editar cliente</a
        >
      </div>
    </div>
  </div>
</div>
