<app-navigation2></app-navigation2>
<div class="bg">
  <div class="container p-5">
    <h1 class="mb-3 text-center">Mis Empresas</h1>
    <div class="row">
      <button class="btn btn-success ml-3 mb-4" routerLink="/empresas/add">
        <i class="fas fa-plus-circle mr-1"></i>Agregar Empresa
      </button>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let empresa of empresas">
        <div class="card text-center mb-4">
          <div
            class="card-header d-flex bg-dark text-white justify-content-between align-items-center"
          >
            {{ empresa.nombre }}
            <div class="text-right">
              <i
                class="fas fa-pencil-alt fa-2x text-success mr-3"
                [routerLink]="['/empresas/edit', empresa.idempresa]"
              ></i>
              <i
                class="fas fa-trash fa-2x text-danger"
                (click)="deleteEmpresa(empresa.idempresa)"
              ></i>
            </div>
          </div>
          <div class="card-body">
            <p>
              <strong class="font-weight-bold">Teléfono: </strong
              >{{ empresa.telefono }}
            </p>
            <p>
              <strong class="font-weight-bold">Ciudad: </strong
              >{{ empresa.ciudad }}
            </p>
            <p>
              <strong class="font-weight-bold">Dirección: </strong
              >{{ empresa.direccion }}
            </p>
            <a
              class="btn btn-info btn-block"
              [routerLink]="['/empresas', empresa.idempresa]"
              ><i class="fas fa-store fa-2x mr-1"></i> Servicios</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
