<app-navigation></app-navigation>
<div class="container p-5">
  <h1 class="text-center">Nuevo Pedido</h1>
  <form class="card p-5">
    <div class="text-right">
      <i
        class="fas fa-sync-alt fa-2x"
        style="cursor: pointer"
        (click)="deleteDetalles()"
      ></i>
    </div>
    <label>
      <b class="mr-3"> Fecha de Petición: </b> {{ pedido.fechaPeticion }}</label
    >
    <br />
    <label>
      <b class="mr-3">Cliente: </b> {{ cliente.nombre }}
      {{ cliente.apellido }}</label
    >
    <div class="form-group row">
      <label class="col-2 col-form-label"> <b> Fecha de Ejecución: </b></label>
      <div class="col-3">
        <input
          type="date"
          class="form-control"
          name="fechaEjecucion"
          [(ngModel)]="pedido.fechaEjecucion"
        />
      </div>
    </div>
    <button class="btn btn-info mb-3" [routerLink]="['/servicios']">
      Agregar Servicio
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Servicio</th>
          <th scope="col">Costo</th>
          <th scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detalles">
          <td>{{ detalle.nombre }}</td>
          <td>{{ detalle.costo | currency }}</td>
          <td>{{ detalle.descripcion }}</td>
        </tr>
      </tbody>
    </table>
    <label>Costo Total: {{ pedido.costo | currency }}</label>
    <hr />
    <button class="btn btn-success" (click)="saveNewPedido()">Pedir</button>
  </form>
</div>
<app-footer></app-footer>
