<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper">
          <!-- Logo -->
          <div class="logo">
            <a href="index.html"
              ><img src="assets/img/logo/logo.png" alt=""
            /></a>
          </div>
          <!-- Main-menu -->
          <div class="main-menu d-none d-lg-block">
            <nav>
              <ul id="navigation">
                <li>
                  <a
                    class="nav-link"
                    routerLink="/profile"
                    routerLinkActive="active"
                    ><i class="far fa-user-circle mr-2"></i
                    ><label style="cursor: pointer;">Mi Perfil</label></a
                  >
                </li>
                <li class="ml-5">
                  <a
                    class="nav-link"
                    [routerLink]="['/clientes', cliente.idcliente]"
                    routerLinkActive="active"
                    ><i class="fas fa-clipboard-list mr-2"></i
                    ><label style="cursor: pointer;">Pedidos</label></a
                  >
                </li>
                <li class="hot ml-5">
                  <a
                    class="nav-link"
                    routerLink="/servicios"
                    routerLinkActive="active"
                    ><i class="fas fa-shopping-bag mr-1"></i
                    ><label style="cursor: pointer;">Servicios</label></a
                  >
                </li>
                <li class="ml-5">
                  <a
                    class="nav-link"
                    routerLink="/estadisticas/clientes"
                    routerLinkActive="active"
                    ><i class="fas fa-chart-line mr-2"></i
                    ><label style="cursor: pointer;">Estadísticas</label></a
                  >
                </li>
                <!-- <li>
                   <a
                    class="nav-link"
                    routerLink="/clientes"
                    routerLinkActive="active"
                    ><i class="fas fa-users mr-1"></i><label>Clientes</label></a
                  >
                </li> -->
                <li>
                  <a><i class="fas fa-ellipsis-h fa-2x"></i></a>
                  <ul class="submenu">
                    <li>
                      <a
                        routerLink="/empresas"
                        class="nav-link"
                        routerLinkActive="active"
                        ><i class="fas fa-store-alt mr-1"></i
                        ><label style="cursor: pointer;">Mis Empresas</label></a
                      >
                    </li>
                    <li>
                      <a href="index.html" (click)="logOut()"
                        ><i class="fas fa-door-open mr-1"></i
                        ><label style="cursor: pointer;">Cerrar Sesión</label></a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Header Right -->
          <div class="text-rigth">
            <ul class="list-inline">
              <li class="list-inline-item">
                <i
                  class="fas fa-shopping-cart fa-2x"
                  routerLink="/pedidos/add"
                  style="cursor: pointer;"
                ></i
                ><span class="badge badge-pill badge-danger mr-3">{{
                  cart
                }}</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Mobile Menu -->
        <div class="col-12">
          <div class="mobile_menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
